.unlogin_botton{
margin-left: 15vw;
margin-top:12%;
width: 69vw;
height: 13%;
background-color: #436063;
color:white;
min-height: 35px;
border-radius: 15px;
}
.unlogin_input_img{
height: 100%;
width:20%;
float:left;
background-position: center !important;
}
.unlogin_input_div{
margin-left: 15vw;
width: 69vw;
height: 13% ;
border-bottom: 1px;
border-bottom-color: white;
border-bottom-style: solid;
}
.unlogin_input_text{
font-family: simHei;
height:100%;
width: 80%;
background-color:#A1C5B7;
border: 0;
padding: 0;
color: white;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
color: white;
}
input::-moz-input-placeholder{ /*Mozilla Firefox*/
color: white;
}
input::-ms-input-placeholder{ /*Internet Explorer*/
color: white;
}

/*重写css伪类，解决Chrome记住密码时样式覆盖问题*/
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px #A1C5B7 inset;/*背景颜色覆盖*/
border: 0 !important;
font-family: simHei !important;
}
input:-webkit-autofill {
-webkit-text-fill-color: white !important;/*字体颜色*/
}