<link href="app/modules/index/index.css" rel="stylesheet" />
<header class="bar bar-nav">
	<div class="button button-link button-nav pull-left" ng-click="unlogin();" data-transition='slide-out'>
		<span class="icon icon-left"></span>
		返回
	</div>
	<h1 class="title">我的生活</h1>
	<span class="open-about icon icon-menu" style="float:right"></span>
</header>
<div class="content">
	<div class="popup popup-about">
		<div class="content-block">
			<p>About</p>
			<p><a href="#" class="close-popup">Close popup</a></p>
			<p>Lorem ipsum dolor ...</p>
		</div>
	</div>
	<div>
		<ul style="width:100%">
			<li><div class="index_block left" style="background-color:red;background:url(asset/img/ALL_STATIONS.png) no-repeat;background-size:100%;"></div>
			<div class="index_block right" style="background-color:blue;background:url(asset/img/IMPORTANT_EVENT.png) no-repeat;background-size:100%;"></div></li>
		</ul>
		<ul>
			<li><div class="index_block left" style="background-color:green;background:url(asset/img/KPI_INFO.png) no-repeat;background-size:104%;"></div>
			<div ng-click="exit()" class="index_block right" style="background-color:yellow;background:url(asset/img/Logout.png) no-repeat;background-size:100%;"></div></li>
		</ul>
	</div>
</div>